<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for accessing storage, SMS, and location -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Specify telephony feature as optional -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AjiraApp"
        tools:targetApi="31">

        <!-- SplashScreen is now the launcher activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity
            android:name=".Expert_Rating"
            android:exported="false" />
        <activity
            android:name=".Client_RatingandPayment"
            android:exported="false" />
        <activity
            android:name=".WorkInProgressClient"
            android:exported="false" />
        <activity
            android:name=".WorkInProgressExpert"
            android:exported="false" />
        <activity
            android:name=".NotifyExpert"
            android:exported="false" />
        <activity
            android:name=".PlumbingList"
            android:exported="false" />
        <activity
            android:name=".MovingList"
            android:exported="false" />
        <activity
            android:name=".GardeningList"
            android:exported="false" />
        <activity
            android:name=".MechanicList"
            android:exported="false" />
        <activity
            android:name=".CookingList"
            android:exported="false" />
        <activity
            android:name=".CleaningList"
            android:exported="false" />
        <activity
            android:name=".Verification_Notification"
            android:exported="false" />
        <activity
            android:name=".ExpertHomePage"
            android:exported="false" />
        <activity
            android:name=".ClientHomePage"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false">
        </activity>
    </application>

</manifest>
